jsql/src/main/resources/jsql-ddlx-0.6.xsd

<!--
  Copyright (c) 2016 JAX-DB

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  You should have received a copy of The MIT License (MIT) along with this
  program. If not, see <http://opensource.org/licenses/MIT/>.
-->
<xs:schema
  vc:minVersion="1.1"
  elementFormDefault="qualified"
  targetNamespace="http://www.jaxdb.org/ddlx-0.6.xsd"
  xmlns:ddlx="http://www.jaxdb.org/ddlx-0.6.xsd"
  xmlns:sqlx="http://www.jaxdb.org/sqlx-0.6.xsd"
  xmlns:jsql="http://www.jaxdb.org/jsql-0.6.xsd"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.jaxdb.org/jsql-0.6.xsd" schemaLocation="jsql-0.6.xsd"/>
  <xs:include schemaLocation="http://www.jaxdb.org/ddlx-common-0.6.xsd"/>

  <xs:group name="column">
    <xs:sequence>
      <xs:element name="foreignKey" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ddlx:foreignKeyUnary">
              <xs:attribute ref="jsql:cache"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="index" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ddlx:columnIndex">
              <xs:attribute ref="jsql:cache"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="tinyint">
    <xs:complexContent>
      <xs:extension base="jsql:tinyint">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:tinyintCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="smallint">
    <xs:complexContent>
      <xs:extension base="jsql:smallint">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:smallintCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="int">
    <xs:complexContent>
      <xs:extension base="jsql:int">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:intCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="bigint">
    <xs:complexContent>
      <xs:extension base="jsql:bigint">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:bigintCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="float">
    <xs:complexContent>
      <xs:extension base="jsql:float">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:floatCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="double">
    <xs:complexContent>
      <xs:extension base="jsql:double">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:doubleCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="decimal">
    <xs:complexContent>
      <xs:extension base="jsql:decimal">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:decimalCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="binary">
    <xs:complexContent>
      <xs:extension base="jsql:binary">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:binaryCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="blob">
    <xs:complexContent>
      <xs:extension base="jsql:blob">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:blobCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="char">
    <xs:complexContent>
      <xs:extension base="jsql:char">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:charCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="clob">
    <xs:complexContent>
      <xs:extension base="jsql:clob">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <xs:element name="check" type="ddlx:clobCheck" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enum">
    <xs:complexContent>
      <xs:extension base="jsql:enum">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:enumCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="date">
    <xs:complexContent>
      <xs:extension base="jsql:date">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:dateCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="time">
    <xs:complexContent>
      <xs:extension base="jsql:time">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:timeCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="datetime">
    <xs:complexContent>
      <xs:extension base="jsql:datetime">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:datetimeCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="boolean">
    <xs:complexContent>
      <xs:extension base="jsql:boolean">
        <xs:sequence>
          <xs:group ref="ddlx:column"/>
          <!--xs:element name="check" type="ddlx:booleanCheck" minOccurs="0"/-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="schema">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ddlx:assert">
          <xs:sequence>
            <xs:element name="template" type="ddlx:column" minOccurs="0" maxOccurs="unbounded">
              <xs:unique name="cannot_specify_template_attribute_on_template_element">
                <xs:selector xpath="."/>
                <xs:field xpath="@name|@template"/>
              </xs:unique>
            </xs:element>
            <xs:element name="table" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ddlx:tableCommon">
                    <xs:sequence>
                      <xs:element name="constraints" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="primaryKey" minOccurs="0">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="ddlx:primaryKey">
                                    <xs:attribute ref="jsql:cache"/>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                              <xs:unique name="primaryKey_column_name_must_be_unique">
                                <xs:selector xpath="ddlx:column"/>
                                <xs:field xpath="@name"/>
                              </xs:unique>
                            </xs:element>
                            <xs:element name="foreignKey" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="ddlx:foreignKeyComposite">
                                    <xs:attribute ref="jsql:cache"/>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                              <xs:unique name="foreignKey_column_name_must_be_unique">
                                <xs:selector xpath="ddlx:column"/>
                                <xs:field xpath="@name"/>
                              </xs:unique>
                              <xs:unique name="foreignKey_reference_name_must_be_unique">
                                <xs:selector xpath="ddlx:column"/>
                                <xs:field xpath="@references"/>
                              </xs:unique>
                            </xs:element>
                            <xs:element name="unique" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="ddlx:columns">
                                    <xs:attribute ref="jsql:cache"/>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                              <xs:unique name="unique_column_name_must_be_unique">
                                <xs:selector xpath="ddlx:column"/>
                                <xs:field xpath="@name"/>
                              </xs:unique>
                            </xs:element>
                            <xs:element name="check" minOccurs="0" maxOccurs="unbounded" type="ddlx:checkReference"/>
                          </xs:sequence>
                        </xs:complexType>
                        <xs:unique name="cannot_specify_both_value_and_null_on_check_constraint">
                          <xs:selector xpath=".//ddlx:check|.//and|.//or"/>
                          <xs:field xpath="@value|@null"/>
                        </xs:unique>
                        <xs:unique name="cannot_specify_both_value_and_reference_on_check_constraint">
                          <xs:selector xpath=".//ddlx:check|.//ddlx:and|.//ddlx:or"/>
                          <xs:field xpath="@value|@reference"/>
                        </xs:unique>
                        <xs:unique name="cannot_specify_both_reference_and_null_on_check_constraint">
                          <xs:selector xpath=".//ddlx:check|.//ddlx:and|.//ddlx:or"/>
                          <xs:field xpath="@reference|@null"/>
                        </xs:unique>
                        <xs:key name="must_specify_either_value_or_reference_or_null_on_check_constraint">
                          <xs:selector xpath=".//ddlx:check|.//ddlx:and|.//ddlx:or"/>
                          <xs:field xpath="@value|@reference|@null"/>
                        </xs:key>
                      </xs:element>
                      <xs:element name="indexes" minOccurs="0">
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension base="ddlx:indexes">
                              <xs:sequence maxOccurs="unbounded">
                                <xs:element name="index">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="ddlx:indexesIndex">
                                        <xs:attribute ref="jsql:cache"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="triggers" type="ddlx:triggers" minOccurs="0"/>
                      <xs:element ref="jsql:keyForUpdate" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute ref="jsql:cache"/>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
              <xs:key name="keyColumnName">
                <xs:selector xpath="ddlx:column"/>
                <xs:field xpath="@name"/>
              </xs:key>
              <xs:keyref name="check_column_must_match_name_of_column_element" refer="ddlx:keyColumnName">
                <xs:selector xpath=".//ddlx:check|.//ddlx:and|.//ddlx:or"/>
                <xs:field xpath="@column"/>
              </xs:keyref>
              <xs:keyref name="check_reference_must_match_name_of_column_element" refer="ddlx:keyColumnName">
                <xs:selector xpath=".//ddlx:check|.//ddlx:and|.//ddlx:or"/>
                <xs:field xpath="@reference"/>
              </xs:keyref>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="keyTemplateName">
      <xs:selector xpath="ddlx:template"/>
      <xs:field xpath="@name"/>
    </xs:key>
    <xs:key name="keyTableName">
      <xs:selector xpath="ddlx:table"/>
      <xs:field xpath="@name"/>
    </xs:key>
    <xs:keyref name="keyrefExtendsTableName" refer="ddlx:keyTableName">
      <xs:selector xpath="./ddlx:table"/>
      <xs:field xpath="@extends"/>
    </xs:keyref>
    <xs:keyref name="references_attribute_must_match_name_of_table_element" refer="ddlx:keyTableName">
      <xs:selector xpath="ddlx:table/ddlx:column/ddlx:foreignKey|ddlx:table/ddlx:constraints/ddlx:foreignKey"/>
      <xs:field xpath="@references"/>
    </xs:keyref>
  </xs:element>

</xs:schema>