ddlx/src/main/resources/ddlx-common-0.4.xsd

<!--
  Copyright (c) 2016 JAX-DB

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  You should have received a copy of The MIT License (MIT) along with this
  program. If not, see <http://opensource.org/licenses/MIT/>.
-->
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="http://www.jaxdb.org/ddlx-0.4.xsd"
  xmlns:ddlx="http://www.jaxdb.org/ddlx-0.4.xsd"
  xmlns:dt="http://www.jaxdb.org/datatypes-0.4.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.jaxdb.org/datatypes-0.4.xsd" schemaLocation="http://www.jaxdb.org/datatypes-0.4.xsd"/>

  <xs:simpleType name="name">
    <xs:restriction base="xs:NCName">
      <xs:maxLength value="64"/> <!-- http://wiki.ispirer.com/sqlways/postgresql/identifiers -->
      <xs:pattern value="[a-zA-Z_][a-zA-Z0-9_]*"/> <!-- https://www.postgresql.org/docs/current/static/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS -->
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="documented">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="named">
    <xs:complexContent>
      <xs:extension base="ddlx:documented">
        <xs:attribute name="name" type="ddlx:name" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="changeRule">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESTRICT"/>
      <xs:enumeration value="CASCADE"/>
      <xs:enumeration value="SET NULL"/>
      <xs:enumeration value="SET DEFAULT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="foreignKey">
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="references" type="ddlx:name" use="required"/>
    <xs:attribute name="column" type="ddlx:name" use="required"/>
    <xs:attribute name="onDelete" type="ddlx:changeRule"/>
    <xs:attribute name="onUpdate" type="ddlx:changeRule"/>
  </xs:complexType>

  <xs:complexType name="index">
    <xs:complexContent>
      <xs:extension base="ddlx:documented">
        <xs:attribute name="unique" type="xs:boolean" default="false"/>
        <xs:attribute name="type" default="BTREE">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="BTREE"/>
              <xs:enumeration value="HASH"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="check">
    <xs:sequence>
      <xs:element name="column" type="ddlx:name"/>
      <xs:element name="operator" type="ddlx:rangeOperator"/>
      <xs:choice>
        <xs:element name="column" type="ddlx:name"/>
        <xs:element name="value" type="xs:string" nillable="true"/>
      </xs:choice>
      <xs:choice minOccurs="0">
        <xs:element name="and" type="ddlx:check"/>
        <xs:element name="or" type="ddlx:check"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="equalityOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eq"/>
      <xs:enumeration value="ne"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rangeOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eq"/>
      <xs:enumeration value="ne"/>
      <xs:enumeration value="gt"/>
      <xs:enumeration value="gte"/>
      <xs:enumeration value="lt"/>
      <xs:enumeration value="lte"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="columns">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="column" type="ddlx:named"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="constraints">
    <xs:sequence>
      <xs:element name="primaryKey" type="ddlx:columns" minOccurs="0">
        <xs:unique name="primaryKeyColumn">
          <xs:selector xpath="./ddlx:column"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
      <xs:element name="unique" type="ddlx:columns" minOccurs="0" maxOccurs="unbounded">
        <xs:unique name="uniqueColumnName1">
          <xs:selector xpath="./ddlx:column"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
      <xs:element name="check" minOccurs="0" maxOccurs="unbounded" type="ddlx:check"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="triggers">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="trigger">
        <xs:complexType mixed="true">
          <xs:attribute name="time" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="BEFORE"/>
                <xs:enumeration value="AFTER"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="actions" use="required">
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="INSERT"/>
                    <xs:enumeration value="UPDATE"/>
                    <xs:enumeration value="DELETE"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="indexes">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="index">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ddlx:index">
              <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="column" type="ddlx:named"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
        <xs:unique name="indexColumn">
          <xs:selector xpath="./ddlx:column"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- text data -->

  <xs:attributeGroup name="char">
    <xs:attribute name="varying" type="xs:boolean" default="false"/>
    <xs:attribute name="default" type="dt:char"/>
    <xs:attribute name="length" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="4294967295"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:group name="char">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:equalityOperator" use="required"/>
          <xs:attribute name="condition" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="clob">
    <xs:attribute name="length">
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="4294967295"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:group name="clob">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:equalityOperator" use="required"/>
          <xs:attribute name="condition" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <!-- binary data -->

  <xs:attributeGroup name="binary">
    <xs:attribute name="length" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="2000000000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="varying" type="xs:boolean" default="false"/>
    <xs:attribute name="default" type="dt:binary"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="blob">
    <xs:attribute name="length">
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="4294967295"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- numeric data -->

  <xs:complexType name="integer" abstract="true">
    <xs:complexContent>
      <xs:extension base="ddlx:column">
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="AUTO_INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:attributeGroup name="bigint">
    <xs:attribute name="precision">
      <xs:simpleType>
        <xs:restriction base="ddlx:precision">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:bigint"/>
    <xs:attribute name="min" type="dt:bigint"/>
    <xs:attribute name="max" type="dt:bigint"/>
  </xs:attributeGroup>

  <xs:group name="bigint">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="dt:bigint" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="int">
    <xs:attribute name="precision" default="10">
      <xs:simpleType>
        <xs:restriction base="ddlx:precision">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:int"/>
    <xs:attribute name="min" type="dt:int"/>
    <xs:attribute name="max" type="dt:int"/>
  </xs:attributeGroup>

  <xs:group name="int">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="dt:int" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="smallint">
    <xs:attribute name="precision" default="5">
      <xs:simpleType>
        <xs:restriction base="ddlx:precision">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="5"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:smallint"/>
    <xs:attribute name="min" type="dt:smallint"/>
    <xs:attribute name="max" type="dt:smallint"/>
  </xs:attributeGroup>

  <xs:group name="smallint">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="dt:smallint" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="tinyint">
    <xs:attribute name="precision" default="3">
      <xs:simpleType>
        <xs:restriction base="ddlx:precision">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:tinyint"/>
    <xs:attribute name="min" type="dt:tinyint"/>
    <xs:attribute name="max" type="dt:tinyint"/>
  </xs:attributeGroup>

  <xs:group name="tinyint">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="dt:tinyint" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="float">
    <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
    <xs:attribute name="default" type="dt:float"/>
    <xs:attribute name="min" type="dt:float"/>
    <xs:attribute name="max" type="dt:float"/>
  </xs:attributeGroup>

  <xs:group name="float">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="dt:float" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="double">
    <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
    <xs:attribute name="default" type="dt:double"/>
    <xs:attribute name="min" type="dt:double"/>
    <xs:attribute name="max" type="dt:double"/>
  </xs:attributeGroup>

  <xs:group name="double">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="dt:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="decimal">
    <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
    <xs:attribute name="precision">
      <xs:annotation>
        <xs:documentation>The number of digits in the unscaled value. Note: "precision" must be greater than or equal to "scale".</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="147455"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="scale">
      <xs:annotation>
        <xs:documentation>The number of digits to the right of the decimal point.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="16383"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:decimal"/>
    <xs:attribute name="min" type="dt:decimal"/>
    <xs:attribute name="max" type="dt:decimal"/>
  </xs:attributeGroup>

  <xs:group name="decimal">
    <xs:sequence>
      <xs:element name="check">
        <xs:complexType>
          <xs:attribute name="operator" type="ddlx:rangeOperator" use="required"/>
          <xs:attribute name="condition" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <!-- time data -->

  <xs:attributeGroup name="date">
    <xs:attribute name="default" type="dt:date"/>
  </xs:attributeGroup>

  <xs:simpleType name="precision">
    <xs:restriction base="xs:byte">
      <xs:annotation>
        <xs:documentation>The number of digits in the unscaled value. Note: "precision" must be greater than or equal to "scale".</xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="time">
    <xs:attribute name="precision" default="6">
      <xs:simpleType>
        <xs:restriction base="xs:byte">
          <xs:minInclusive value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:time"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="datetime">
    <xs:attribute name="precision" default="0">
      <xs:simpleType>
        <xs:restriction base="xs:byte">
          <xs:minInclusive value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:datetime"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="boolean">
    <xs:attribute name="default" type="dt:boolean"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="enum">
    <xs:attribute name="values" use="required">
      <xs:simpleType>
        <!-- Is there a way to ensure no duplicates occur? -->
        <xs:restriction base="xs:string">
          <xs:pattern value="(\S+(\\ )? )*\S+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="default" type="dt:enum"/>
  </xs:attributeGroup>

  <xs:complexType name="column" abstract="true">
    <xs:complexContent>
      <xs:extension base="ddlx:named">
        <xs:sequence minOccurs="0">
          <xs:element name="foreignKey" minOccurs="0" type="ddlx:foreignKey">
            <xs:annotation>
              <xs:documentation>
                There is a great potential to be able to have schema validation on the content entered into this element.
                However, the XPath implementation supported by the XMLSchema standard does not allow for the necessary complex XPath
                queries. Therefore, this element is completely unchecked by schema validation for the validity of its content.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="index" minOccurs="0" type="ddlx:index"/>
        </xs:sequence>
        <xs:attribute name="null" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="table">
    <xs:complexContent>
      <xs:extension base="ddlx:named">
        <xs:sequence>
          <xs:element name="column" type="ddlx:column" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Implement xsi:type="enum" values test re default in schematron -->
          <xs:element name="constraints" type="ddlx:constraints" minOccurs="0"/>
          <xs:element name="triggers" type="ddlx:triggers" minOccurs="0"/>
          <xs:element name="indexes" type="ddlx:indexes" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="abstract" type="xs:boolean" default="false"/>
        <xs:attribute name="extends" type="ddlx:name"/>
        <xs:attribute name="skip" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>