xdl/src/main/resources/xdl.xsd

<!--
  Copyright (c) 2006 Seva Safris

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  You should have received a copy of The MIT License (MIT) along with this
  program. If not, see <http://opensource.org/licenses/MIT/>.
-->

<xs:schema
  elementFormDefault="qualified"
  targetNamespace="http://xdb.safris.org/xdl.xsd"
  xmlns:xdl="http://xdb.safris.org/xdl.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="namedType">
    <xs:attribute name="name" type="xdl:nameType" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="columnType" abstract="true">
    <xs:complexContent>
      <xs:extension base="xdl:namedType">
        <xs:sequence minOccurs="0">
          <xs:element name="documentation" type="xs:string" minOccurs="0"/>
          <xs:element name="foreignKey" minOccurs="0" type="xdl:foreignKeyType">
            <xs:annotation>
              <xs:documentation>
                There is a great potential to be able to have schema validation on the content entered into this element.
                However, the XPath implementation supported by the XMLSchema standard does not allow for the necessary complex XPath
                queries. Therefore, this element is completely unchecked by schema validation for the validity of its content.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="index" minOccurs="0" type="xdl:indexType"/>
          <xs:element name="check" minOccurs="0" type="xdl:checkType"/>
        </xs:sequence>
        <xs:attribute name="null" type="xs:boolean" default="true"/>
        <xs:attribute name="checkOnUpdate">
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:NCName">
                  <xs:enumeration value="EQUALS"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="foreignKeyType">
    <xs:sequence minOccurs="0">
      <xs:element name="join" type="xdl:joinType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="references" type="xs:NCName" use="required"/>
    <xs:attribute name="column" type="xs:NCName" use="required"/>
    <xs:attribute name="onDelete" type="xdl:referentialAction" default="CASCADE"/>
    <xs:attribute name="onUpdate" type="xdl:referentialAction" default="CASCADE"/>
  </xs:complexType>

  <xs:complexType name="joinType">
    <xs:sequence>
      <xs:element name="field" type="xdl:fieldType"/>
      <xs:element name="inverse" type="xdl:fieldType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="association" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NCName">
          <xs:enumeration value="OneToOne"/>
          <xs:enumeration value="OneToMany"/>
          <xs:enumeration value="ManyToOne"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fetch" type="xdl:fetchType" use="required"/>
  </xs:complexType>

  <xs:complexType name="relationType">
    <xs:sequence>
      <xs:element name="field" type="xdl:fieldRefType"/>
      <xs:element name="inverse" type="xdl:fieldRefType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="association" type="xs:NCName" fixed="ManyToMany" use="required"/>
  </xs:complexType>

  <xs:complexType name="fieldType">
    <xs:complexContent>
      <xs:extension base="xdl:namedType">
        <xs:attribute name="cascade" type="xdl:cascadeType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fieldRefType">
    <xs:complexContent>
      <xs:extension base="xdl:fieldType">
        <xs:attribute name="id" type="xs:NCName" use="required"/>
        <xs:attribute name="fetch" type="xdl:fetchType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="fetchType">
    <xs:restriction base="xs:NCName">
      <xs:enumeration value="LAZY"/>
      <xs:enumeration value="EAGER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cascadeType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:NCName">
          <xs:enumeration value="MERGE"/>
          <xs:enumeration value="PERSIST"/>
          <xs:enumeration value="REFRESH"/>
          <xs:enumeration value="REMOVE"/>
          <xs:enumeration value="DETACH"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:simpleType name="referentialAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CASCADE"/>
      <xs:enumeration value="SET NULL"/>
      <xs:enumeration value="SET DEFAULT"/>
      <xs:enumeration value="NO ACTION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="indexType">
    <xs:attribute name="unique" type="xs:boolean" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="BTREE"/>
          <xs:enumeration value="HASH"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="checkType">
    <xs:attribute name="condition" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="boolean">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="default" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="blob">
    <xs:complexContent>
      <xs:extension base="xdl:columnType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="char">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="length" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="default" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="varchar">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="length" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="default" type="xs:string"/>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="UUID"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="UUID"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="decimal">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="decimal" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default" type="xs:decimal"/>
        <xs:attribute name="min" type="xs:decimal"/>
        <xs:attribute name="max" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enum">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="values" use="required">
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[^ ]*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="default" type="xs:NMTOKEN"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tinyint">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:maxInclusive value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-128"/>
              <xs:maxInclusive value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="min">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-128"/>
              <xs:maxInclusive value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="max">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-128"/>
              <xs:maxInclusive value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="AUTO_INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="smallint">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="3"/>
              <xs:maxInclusive value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-32768"/>
              <xs:maxInclusive value="65535"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="min">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-32768"/>
              <xs:maxInclusive value="65535"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="max">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-32768"/>
              <xs:maxInclusive value="65535"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="AUTO_INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="mediumint">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="5"/>
              <xs:maxInclusive value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-8388608"/>
              <xs:maxInclusive value="16777215"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="min">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-8388608"/>
              <xs:maxInclusive value="16777215"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="max">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-8388608"/>
              <xs:maxInclusive value="16777215"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="AUTO_INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="int">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="8"/>
              <xs:maxInclusive value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-2147483648"/>
              <xs:maxInclusive value="4294967295"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="min">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-2147483648"/>
              <xs:maxInclusive value="4294967295"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="max">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-2147483648"/>
              <xs:maxInclusive value="4294967295"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="AUTO_INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="bigint">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="10"/>
              <xs:maxInclusive value="20"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-9223372036854775808"/>
              <xs:maxInclusive value="18446744073709551615"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="min">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-9223372036854775808"/>
              <xs:maxInclusive value="18446744073709551615"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="max">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="-9223372036854775808"/>
              <xs:maxInclusive value="18446744073709551615"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="AUTO_INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="INCREMENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="float">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="decimal" type="xs:positiveInteger"/>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default" type="xs:decimal"/>
        <xs:attribute name="min" type="xs:decimal"/>
        <xs:attribute name="max" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--<xs:complexType name="double">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="precision" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="decimal" type="xs:positiveInteger"/>
        <xs:attribute name="unsigned" type="xs:boolean" default="false"/>
        <xs:attribute name="zerofill" type="xs:boolean" default="false"/>
        <xs:attribute name="default" type="xs:decimal"/>
        <xs:attribute name="min" type="xs:decimal"/>
        <xs:attribute name="max" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>-->

  <xs:complexType name="date">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="default" type="xs:date"/>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="TIMESTAMP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="TIMESTAMP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dateTime">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="default" type="xs:dateTime"/>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="TIMESTAMP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="TIMESTAMP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="time">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="default" type="xs:string"/>
        <xs:attribute name="generateOnInsert">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="TIMESTAMP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="generateOnUpdate">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="TIMESTAMP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="timestamp">
    <xs:complexContent>
      <xs:extension base="xdl:columnType">
        <xs:attribute name="default" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="inherited">
    <xs:complexContent>
      <xs:extension base="xdl:columnType"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- TODO: Define INTERVAL -->
  
  <xs:simpleType name="nameType">
    <xs:restriction base="xs:NCName">
      <!-- http://dev.mysql.com/doc/refman/5.0/en/identifiers.html -->
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="tableType">
    <xs:complexContent>
      <xs:extension base="xdl:namedType">
        <xs:sequence>
          <xs:element name="column" type="xdl:columnType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="constraints" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="primaryKey" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                      <xs:element name="column" type="xdl:namedType"/>
                    </xs:sequence>
                  </xs:complexType>
                  <xs:unique name="primaryKeyColumn">
                    <xs:selector xpath="./xdl:column"/>
                    <xs:field xpath="@name"/>
                  </xs:unique>
                </xs:element>
                <xs:element name="foreignKey" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="xdl:foreignKeyType">
                        <xs:sequence>
                          <xs:element name="column" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="xdl:namedType">
                                  <xs:attribute name="column" type="xdl:nameType" use="required"/>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="autoIncrement" minOccurs="0">
                  <xs:complexType>
                    <xs:attribute name="column" type="xs:NCName" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:sequence maxOccurs="unbounded">
                  <xs:element name="unique" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence maxOccurs="unbounded">
                        <xs:element name="column" type="xdl:namedType"/>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="uniqueColumnName1">
                      <xs:selector xpath="./xdl:column"/>
                      <xs:field xpath="@name"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="check" minOccurs="0" type="xdl:checkType"/>
                </xs:sequence>
              </xs:sequence>
            </xs:complexType>
            <xs:unique name="uniqueUniqueColumn">
              <xs:selector xpath="./xdl:unique"/>
              <xs:field xpath="@column"/>
            </xs:unique>
          </xs:element>
          <xs:element name="relation" type="xdl:relationType" minOccurs="0"/>
          <xs:element name="triggers" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="trigger">
                  <xs:complexType mixed="true">
                    <xs:attribute name="time" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:token">
                          <xs:enumeration value="BEFORE"/>
                          <xs:enumeration value="AFTER"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="actions" use="required">
                      <xs:simpleType>
                        <xs:list>
                          <xs:simpleType>
                            <xs:restriction base="xs:token">
                              <xs:enumeration value="INSERT"/>
                              <xs:enumeration value="UPDATE"/>
                              <xs:enumeration value="DELETE"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:list>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="index" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="xdl:indexType">
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="column" type="xdl:namedType"/>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
            <xs:unique name="indexColumn">
              <xs:selector xpath="./xdl:column"/>
              <xs:field xpath="@name"/>
            </xs:unique>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="abstract" type="xs:boolean" default="false"/>
        <xs:attribute name="extends" type="xs:NCName"/>
        <xs:attribute name="skip" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="databaseType">
    <xs:complexContent>
      <xs:extension base="xdl:namedType">
        <xs:sequence>
          <xs:element name="source" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="xdb" type="xs:anyURI" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="table" type="xdl:tableType" minOccurs="0" maxOccurs="unbounded">
            <!--<xs:unique name="primaryKey">
              <xs:selector xpath="*"/>
              <xs:field xpath="@primary"/>
            </xs:unique>-->
            <xs:key name="keyColumnName">
              <xs:selector xpath="./xdl:column"/>
              <xs:field xpath="@name"/>
            </xs:key>
            <xs:keyref name="keyrefColumnName1" refer="xdl:keyColumnName">
              <xs:selector xpath="./xdl:constraints/xdl:autoIncrement | ./xdl:constraints/xdl:unique/xdl:column | ./xdl:constraints/xdl:index/xdl:columns/xdl:column"/>
              <xs:field xpath="@column | @name"/>
            </xs:keyref>
            <xs:keyref name="keyrefColumnName2" refer="xdl:keyColumnName">
              <xs:selector xpath="./xdl:constraints/xdl:primaryKey/xdl:column | ./xdl:constraints/xdl:foreignKey/xdl:column"/>
              <xs:field xpath="@name"/>
            </xs:keyref>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="targetNamespace" type="xs:anyURI" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="database" type="xdl:databaseType">
    <xs:key name="keyTableName">
      <xs:selector xpath="./xdl:table"/>
      <xs:field xpath="@name"/>
    </xs:key>
    <xs:keyref name="keyrefTableName1" refer="xdl:keyTableName">
      <xs:selector xpath="./xdl:table/xdl:column/xdl:foreignKey"/>
      <xs:field xpath="@references"/>
    </xs:keyref>
    <xs:keyref name="keyrefTableName2" refer="xdl:keyTableName">
      <xs:selector xpath="./xdl:table/xdl:constraints/xdl:foreignKey"/>
      <xs:field xpath="@references"/>
    </xs:keyref>
    <xs:keyref name="keyrefExtendsTableName" refer="xdl:keyTableName">
      <xs:selector xpath="./xdl:table"/>
      <xs:field xpath="@extends"/>
    </xs:keyref>
  </xs:element>

</xs:schema>